<div class="row">
  <div class="col-lg-10">
    <h2>Client: {{name}}</h2>
  </div>
  <div class="col-lg-2">
    {{#link-to 'client.edit' this classNames="btn btn-primary"}}Edit{{/link-to}}
  </div>
</div>
