<h3>Projects</h3>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
    {{#each}}
        <tr>
          <td>{{#link-to 'project' this}}{{name}}{{/link-to}}</td>
          <td>{{description}}</td>
        </tr>
    {{/each}}
</table>
