<div class="row page-header">
    <h2>
        {{name}}

        {{#if isEditing}}
            {{#link-to 'project' this classNames="btn btn-danger"}}Cancel Edit{{/link-to}}
        {{else}}
            {{#link-to 'project.edit' this classNames="btn btn-primary"}}Edit Project{{/link-to}}
        {{/if}}
    </h2>
</div>

<div class="row">
    <div class="col-lg-12">
      {{outlet}}
    </div>
</div>
