<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
  </tr>
    {{#each}}
        <tr>
          <td>{{name}}</td>
          <td>{{description}}</td>
        </tr>
    {{/each}}
</table>