<h2>Projects</h2>

<table class="table table-striped">
  <tr>
    <th>Name</th>
    <th>Description</th>
    <th>Client</th>
  </tr>
    {{#each}}
        <tr>
          <td>{{#link-to 'project' this}}{{name}}{{/link-to}}</td>
          <td>{{description}}</td>
          <td>
            {{#if isInternal}}
              <span class="text-muted">Internal</span>
            {{else}}
              {{clientName}}
            {{/if}}
          </td>
        </tr>
    {{/each}}
</table>
